
.vev-item {
    display: flex;
    flex-direction: row;

    cursor: pointer;

    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
}

.vev-item p {
    flex: 1;
}

.vev-item p:last-child {
    text-align: right;
}

.vev-item:nth-child(odd) {
    background-color: var(--primary-color);
}

.vev-item:nth-child(even) {
    background-color: #2323239d;
}
