
.vev-item {
    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.vev-item-preview {
    display: flex;
    flex-direction: row;
    width: 100%;

    box-sizing: border-box;
    padding: .5rem 1rem;
}

.vev-item-detailed {
    height: 0;
    padding-inline: 1rem;

    overflow: hidden;
    transition: all 1s ease-in-out;
}

.expanded-vev-item {
    height: max-content;
    overflow: visible;
}

.vev-item .username {
    text-transform: capitalize;
}

.vev-item-preview {
    flex-direction: row;
}
.vev-item-preview p {
    flex: 1;
}

.vev-item-detailed {
    flex-direction: column;

    position: relative;
}

.vev-item-detailed p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

.vev-item-detailed p span {
    flex: 1;
}

/* .vev-item-detailed .vev-item-edit {
    position: absolute;

    top: 1rem;
    right: 1rem;

    aspect-ratio: 1/1;
} */

