@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


#root {
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: Inter;
    font-size: 18px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    min-height: 100vh;
    padding: .3rem;
}


.no-ul-formatting {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.changed-input {
    border: 1px solid orange
}

.close-button {
    background-color: var(--secondary-background-color);

    position: absolute;
    top: 0;
    right: 0;

    border: none;
    border-radius: 0;
}