

:root {
    --primary-color: #17421c;
    --secondary-color: #26ed40;
    --text-color: #ffffff;
    --background-color: #232323;
    --secondary-background-color: #414141;
}

html {
    background-color: var(--background-color);

    font-size: 18px;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, label {
    color: var(--text-color);

    margin: 0;
}

button {
    background-color: var(--secondary-background-color);
    background-color: #97979723;
    color: var(--text-color);

    font-size: 1rem;

    cursor: pointer;

    display: flex;
    gap: .5rem;
    align-items: center;

    width: fit-content;
    padding: .3rem .5rem;
    border: .1rem solid var(--secondary-color);
    border: .1rem solid #b6b6b6;

    border-radius: .3rem;
}

button img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    min-width: 1.5rem;
}

input, select {
    background-color: var(--background-color);
    color: var(--text-color);

    padding: .4rem 1rem;
    border-radius: .3rem;
    border: var(--primary-color) 2px solid;
    outline: none;
}
