
.popup-window {
    background-color: var(--background-color);

    position: absolute;
    
    box-sizing: border-box;
    width: 80%;
    max-width: 20rem;
    padding: 1rem;
    padding-top: 3rem;
    border-radius: .5rem;

    overflow: hidden;
}
