
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem 0;
}

.page-header .header-logo {
    width: 10rem;
}