.filter {
    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: max-content;
    border: .12rem solid var(--primary-color);
    border-radius: 5px;

    overflow: hidden;
}

.filter .filter-option {
    padding: .5rem;
}

.filter > .filter-option:not(:last-child) {
    border-right: 1px solid var(--primary-color);
}


.filter>.active {
    background-color: var(--secondary-background-color);
}

@media screen and (max-width: 600px) {
    .filter {
        flex-direction: column;
    }

    .filter > .filter-option:not(:last-child) {
        border-right: none;
        border-bottom: 1px solid var(--primary-color);
    }

    .filter>.filter-option {
        width: 100%;
        text-align: center;
    }
    
}