.vev-info-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vev-info-popup .open-update-vev-button {
    background-color: inherit;

    position: absolute;
    top: .5rem;
    left: .5rem;

    box-sizing: border-box;
    width: fit-content;
    padding: .2rem;
    border-radius: 5rem;
}