DATABASE_URL=postgresql://<user>:<password>@localhost:5432/mydb?schema=public
JWT_SECRET=your_jwt_secret_key
GAMMA_CLIENT_ID=<your_gamma_client_id>
GAMMA_REDIRECT_URI=<your_gamma_redirect_uri>
GAMMA_CLIENT_SECRET=<your_gamma_client_secret>