

.auth-button {
    position: absolute;
    top: 1rem;
    right: 1rem;

}

/* .auth-dropdown {
    display: flex;
    flex-direction: column;
    gap: .2rem;

    height: 0;

    overflow: hidden;
    transition: height 2s ease-in-out;
}

.expanded {
    height: max-content;
} */