
.main-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-page .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container button {
    height: 100%;
    padding: .7rem;

}

.colored {
    background-color: rgba(0, 0, 0, 0.401);
}