
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding-inline: 3rem;
}


.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
}

.create-vev-button {
    background-color: var(--primary-color);
}


 /* --- Vev List --- */  

.vev-list {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.vev-list header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: .5rem 0;
}

.vev-list header p {
    cursor: pointer;
    font-weight: bold;

    flex: 1;

    display: flex;
}

.vev-list header p:last-child {
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .main-page {
        padding-inline: 0rem;
    }

    .filters {
        flex-direction: row;
    }
}